.user-info{
    padding-left: 20px;
    font-weight: 400;
}

.answer{
    margin-top: 50px;
}

.places{
    width: 500px;
    margin-top: 50px;
}

.zag1{
    padding-left: 80px;
    margin-bottom: 30px;
}

.zag2{
    padding-top: 10px;
}
.people{
    padding-left: 20px;
    margin-bottom: 20px;
}

.member{
    width: 800px;
    height: 800px;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member_image{
    width: 500px;
    height: 500px;
    background-size: cover;
    object-fit: cover;
}

.name{
    font-size: 28px;
    font-weight: 600;
}

.profs_name{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.table{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 30px 300px;
    margin-top: 50px;
    margin-left: 100px;
}

.table article:nth-child(1),
.table article:nth-child(2){
    background-color: rgb(125, 132, 140);
    display: flex;
    align-items: center;
    justify-content: center;
}

.table article:nth-child(3) span{
    width: 200px;
    height: 300px;
}

.table article:nth-child(4) img{
    width: 200px;
    height: 300px;
    background-size: cover;
    object-fit: cover;
}

.start{
    display: flex;
    margin-top: 50px;
}

.login{
    width: 600px;
}

.login form{
    margin-top: 50px;
}

.carus{
    width: 600px;
    height: 900px;
    margin-top: 70px;
}

.formm{
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}